@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: 300;
  font-size: 24px;
}

small {
  font-weight: 300;
}

input {
  /*border: 0;*/
  font-weight: 700;
  font-size: 40px;
  width: 90%;
}

button {
  background-color: grey;
  width: 70px;
  height: 70px;
  border-radius: 45px;
}

.header > input small h3 {
  color: #008744;
}
