<div class="container p-5">
  <h3 class="text-center">Quanto você precisa?</h3>
  <div class="container align-content-center ml-3">
    <small class="align-content-around">R$</small>
      <input  id="valor" type="number" placeholder="12.000">
      <!--<button style="width: 30px; height: 30px; float: right" (click)="clearInput()">X</button>-->
  </div>
  <div class="controls mt-3">
    <button style="background-color: #008744; color: white" class="mr-1" id="fator" (click)="alteraInput(1)">{{operation}}{{fatores[0]}}</button>
    <button style="background-color: #008744; color: white" id="fator2" (click)="alteraInput(2)">{{operation}}{{fatores[1]}}</button>
    <button style="background-color: #008744; color: white" class="ml-1" id="fator3" (click)="alteraInput(5)" >{{operation}}{{fatores[2]}}</button>
    <div class="operator text-center">
      <button style="background-color: #0057e7; color: white" (click)="toggleX()" id="operador">x1</button>
      <button style="background-color: #ffa700; color: white" id="toggle" (click)="setSubtract()">{{this.notOperation}}</button>
    </div>
  </div>

  <!--<button class="mt-5" style="border-radius: 5px; width: 100%;">continue</button>-->
</div>
